@import "reset";
@import "font";

.container{
  min-width: 300px;
  max-width: 1200px;
  margin: 0 auto;
}
.header{
  background-color: #373c3f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  &__title{
    font-family: Montserrat,sans-serif;
    font-size: 12px;
    margin-left: 19px;
    color: #ebebeb;
  }
  &__logo{
    display: none;
    width: 104px;
    height: 83px;
  }
}
.burger{
  height: 41px;
  width: 41px;
  background-color: #202529;
  position: relative;
  span{
    width: 18px;
    height: 2px;
    background-color: #ffffff;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    transition: opacity 0.2s, transform 0.3s;
    &:first-of-type{
      top:40%;
    }
    &:last-of-type{
      top:60%;
    }
  }
  &__touch{
    opacity: 0;
    width: inherit;
    height: inherit;
    z-index: 1;
    position: absolute;
  }
  & input:checked ~ span:nth-of-type(2){
    opacity: 0;
  }
  & input:checked ~ span:first-of-type, & input:checked ~ span:last-of-type{
    transform-origin: left top;
    top: 50%;
  }
  & input:checked ~ span:first-of-type{
    transform: rotate(-45deg) translate(-50%, -50%);
  }
  & input:checked ~ span:last-of-type {
    transform: rotate(45deg) translate(-50%, -50%);
  }
  & input:checked ~ .dropDownMenu {
    right: 0;
    display: block;
  }
}
.home {
  background: url("../img/desktop_version/header-fon.png") center / cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 148px;
  padding: 11px 19px;
  box-sizing: border-box;
  &__title, &__link {
    font-weight: bold;
    font-family: Lato, sans-serif;
    line-height: 1.5;
  }
  &__title {
    color: #ffffff;
    font-size: 16px;
  }
  &__link {
    color: #a6d6e0;
    font-size: 14px;
    text-decoration: none;
  }
}
.dropDownMenu{
  display: none;
  width: 182px;
  position: absolute;
  background-color: #fafafa;
  top: 41px;
  transition: right .3s linear;
  right: -182px;
  &__item{
    color: #444;
    text-decoration: none;
    font-size: 12px;
    border-bottom: 2px solid #f3f3f3;
    padding-left: 13px;
    line-height: 2.48;
    display: block;
    font-family: Lato, sans-serif;
    &:hover{
      background-color: #f5f5f5;
    }
  }
}
.gallery{
  margin-top: 5px;
  &__item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
    &-pizza{
      background:url("../img/desktop_version/Pizza delivery fon.png") no-repeat center / cover;
    }
    &-salads{
      background: url("../img/desktop_version/UA_UX Salads fon.png") no-repeat center / cover;
    }
    &-desserts{
      background: url("../img/desktop_version/Desserts fon.png") no-repeat center / cover;
    }
  }
  &__title{
    width: calc(100% - 71px);
    text-align: center;
  }
  &__description{
    color: white;
    font-size: 20px;
    font-family: Lato,sans-serif;
  }
  &__transition{
    cursor: pointer;
    display: inline-block;
    width: 71px;
    height: 75px;
    background-color: #acd8ad;
    position: relative;
    transition: background-color 0.4s;
    &:after{
      content: "";
      display: inline-block;
      box-sizing: border-box;
      width: 10px;
      height: 10px;
      border: 2px solid transparent;
      border-top-color: white;
      border-right-color: white;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-92%,-71%) rotate(45deg);
      transition: color 0.4s;
    }
    &:hover{
      background-color: #4AD851;
    }
  }
}
.blockWithMenu{
  margin-top: 22px;
  font-family: Lato,sans-serif;

  &__slogan{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
  }

  &__title, &__preTitle{
    font-family: Lato,sans-serif;
    margin-left: 8px;
  }

  &__title{
    font-size: 20px;
    color: #3f4043;
    text-transform: uppercase;
  }

  &__preTitle{
    font-size: 10px;
    color: #cbccce;
  }

  &__img{
    display: none;
    height: 90px;
    margin-right: 26px;
  }
}
.menu{
  margin-bottom: 30px;
  &__container{
    padding: 0 18px 0 18px;
  }
  &__description{
    text-transform: uppercase;
    font-size: 20px;
    font-family: Lato,sans-serif;
    line-height: 1.9;
    padding-left: 18px;
    &-bgnGray{
      color: #acd8ad;
      background-color: #3f4043;
    }
    &-bgnGreen{
      color: #ffffff;
      background-color: #acd8ad;
    }
  }
  &__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 3;
    margin-bottom: 6px;
  }
  &__sectionName{
    font-size: 15px;
    color: #3f4043;
    text-transform: uppercase;
  }
  &__fontAwesome:before{
    font-size: 23px;
    color: #acd8ad;
    margin-right: 4px;
  }
}
.list{
  &__item{
    &:not(:first-of-type){
      margin-top: 11px;
    }
    &:last-of-type{
      margin-bottom: 6px;
    }
  }
  &__dishPrice{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5.4px;
  }
  &__dish,&__price{
    color: #3f4043;
  }
  &__dish{
    font-size: 14px;
    &:before{
      content: "\00B7";
    }
  }
  &__price{
    font-weight: bold;
    font-size: 13px;
  }
  &__dishDescription{
    font-size: 8.5px;
    color: #3f4043;
    letter-spacing: 0.3px;
    line-height: 1.2;
  }
}
.footer{
  color: #fff;
  background-color: #acd8ad;
  text-align: center;
  margin-top: 50px;
  line-height: 1.3;
  padding: 11px;
  font-size: 12px;
  font-family: Montserrat,sans-serif;
  position: relative;
  &__img{
    display: none;
    position: absolute;
    top: 7px;
    left: 29px;
  }
}

@media screen and (min-width: 480px) and (max-width: 782px){
  .header {
    &__title {
      font-size: 24px;
      margin-left: 38px;
    }
  }
  .burger{
    width: 81px;
    height: 81px;
    span{
      width: 31px;
      height: 4px;
    }
  }
  .dropDownMenu{
    width: 243px;
    right: -243px;
    top: 81px;
    &__item{
      font-size: 14px;
      padding-left: 27px;
      line-height: 2.8;
    }
  }
  .home{
    height: 344px;
    padding: 24px 40px;
    &__title {
      color: #ffffff;
      font-size: 36px;
      line-height: 1.2;
    }
    &__link {
      color: #a6d6e0;
      font-size: 24px;
      text-decoration: none;
      line-height: 2;
    }
  }
  .gallery {
    &__item {
      margin-bottom: 3px;
    }
    &__description{
      font-size: 36px;
    }
    &__title{
      width: calc(100% - 142px);
    }
    &__transition{
      width: 142px;
      height: 149px;
      &:after{
        width: 15px;
        height: 15px;
      }
    }
  }
  .blockWithMenu{
    margin-top: 40px;
    &__slogan{
      margin-bottom: 26px;
    }
    &__title{
      font-size: 40px;
      margin-left:17px ;
    }
    &__preTitle{
      font-size: 20px;
    }
  }
  .menu{
    margin-bottom: 44px;
    &__container{
      padding: 0 36px;
    }
    &__description{
      font-size: 40px;
      line-height: 1.9;
    }
    &__sectionName{
      font-size: 33px;
      letter-spacing: -1.8px;
    }
    &__fontAwesome:before {
      font-size: 46px;
      margin-right: 9px;
    }
  }
  .list{
    &__dish{
      font-size: 25px;
      &:before{
        margin-right: 7px;
      }
    }
    &__price{
      font-size: 26px;
    }
    &__dishPrice{
      margin-bottom: 13px;
    }
    &__dishDescription{
      font-size: 17px;
      letter-spacing: .5px;
      line-height: 1.2;
    }
    &__item:not(:first-of-type) {
      margin-top: 20px;
    }
    &__item:last-of-type, .menu__title {
      margin-bottom: 8px;
    }
  }
  .footer {
    margin-top: 120px;
    line-height: 1.7;
    padding: 19px;
    font-size: 18px;
  }
}
@media screen and (min-width: 783px){
  .header{
    padding: 8px 29px;
    &__title{
      display: none;
    }
    &__logo{
      display: block;
    }
  }
  .burger{
    background: transparent;
    position: static;
    &__touch{
      display: none;
    }
    span{
      display: none;
    }
    input:checked~.dropDownMenu {
      display: flex;
    }
  }
  .dropDownMenu{
    display: flex;
    position: static;
    background: transparent;
    width: max-content;
    &__item{
      border: none;
      text-transform: uppercase;
      padding: 0 21px 0 0;
      font-size: 16px;
      color: #ebebeb;
      font-family: Montserrat, sans-serif;
      &:hover{
        background: transparent;
      }
    }
  }
  .home{
    height: 528px;
    padding: 43px 27px;
    &__title{
      font-size: 55px;
      line-height: 1.45;
    }
    &__link{
      font-size: 34px;
      line-height: 3;
    }
  }
  .gallery{
    display: flex;
    margin-bottom: 50px;
    &__transition{
      display: none;
    }
    &__item{
      width: calc(100% / 3);
      height: 327px;
    }
    &__title{
      width: 100%;
      text-align: center;
    }
    &__description{
      font-size: 38px;
    }
  }
  .blockWithMenu{
    margin-top: 0;
    &__slogan{
      margin-bottom: 10px;
    }
    &__preTitle, &__title {
      margin-left: 28px;
    }
    &__title{
      font-size: 34px;
    }
    &__preTitle {
      font-size: 20px;
      color: #cbccce;
    }
    &__img{
      display: block;
    }
    &__menuContainer{
      display: flex;
    }
  }
  .menu{
    width: calc(100% / 2);
    &__description {
      font-size: 34px;
      line-height: 2.2;
    }
    &__sectionName {
      font-size: 25.5px;
    }
    &__title{
      margin-top: 11px;
      &:last-of-type{
        margin-top: 20px;
      }
    }
    &__fontAwesome:before {
      font-size: 46px;
      margin-right: 0;
    }
    &__title {
      margin-bottom: 20px;
    }
  }
  .list{
    &__dish, &__price {
      font-size: 24px;
    }
    &__dishDescription {
      font-size: 15px;
    }
    &__item:not(:first-of-type) {
      margin-top: 26px;
    }
    &__dishPrice {
      margin-bottom: 15px;
    }
  }
  .footer{
    margin-top: 46px;
    position: relative;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
    padding: 28px;
    line-height: 2.3;
    &__img{
      display: block;
    }
  }
  @media screen and (min-width: 980px){
    .home{
      height: 674px;
      &__title {
        font-size: 62px;
      }
      &__link {
        font-size: 38px;
      }
    }
    .gallery{
      &__item {
        height: 400px;
      }
      &.gallery__description {
        font-size: 43px;
      }
    }
    .blockWithMenu{
      &__title {
        font-size: 40px;
      }
    }
    .menu{
      &__description {
        font-size: 40px;
      }
      &__sectionName {
        font-size: 30px;
      }
    }
    .list{
      &__dish, &__price {
        font-size: 27px;
      }
      &__dishDescription {
        font-size: 17.5px;
      }
    }
  }
}